html{
  font-family: 'Open Sans', sans-serif;
}

body{

  height: auto;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#customer_login {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  border: solid gray;
  padding: 25px;
}

#admin_login {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  border: solid gray;
  padding: 25px;
}

input{
  padding: 5px;
  width:50%;
  margin: 5px;
}
