html{
  font-family: 'Montserrat', sans-serif;

}


body{

  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;

}

.servicehead{
  color:rgb(77, 143, 169);
  font-family: 'Montserrat', sans-serif;
  background-color:;
}

section{
  background-color:#ffffff;
  font-family: 'Montserrat', sans-serif;
}

#schedulepanel{
  background-color: rgb(221, 239, 243);
  padding: 8rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4rem; 
  

}

#service_banner{
  background-image: url("img/schedule_banner.png");
  width:10rem;
  height:auto;
}

input{
  margin: .5rem;
}

h1{
  font-family: 'Montserrat', sans-serif;

}

h2{
  font-family: 'Montserrat', sans-serif;
  color:navy;
}

#admin_login{
  border: solid navy 4px;
  border-radius: 1rem;
  width:50%;
  background-color: #ffffff;
 
}

.admin_main{
  background-image: url("img/admin_bg.jpeg");
  height: 70rem;
  padding: 30px;
}

#scheduled_jobs{
  border: solid 4px rgb(140, 230, 190);
  border-radius: 2rem;
  padding: 50px;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

#open_jobs{
  border: solid 4px rgb(235, 162, 162);
  border-radius: 2rem;
  padding:50px;

}

#dashboard_panel{
  background-color: rgb(183, 234, 234);
  width: 500px;
  height: 400px;
  text-align: center;
  padding:50px;
  border-radius: 2rem;
}


