html{
  font-family: 'Montserrat', sans-serif;

}


body{

  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.servicehead{
  color:rgb(77, 143, 169);
  font-family: 'Montserrat', sans-serif;
  background-color:;
}

section{
  background-color:#ffffff;
  font-family: 'Montserrat', sans-serif;
}

#schedulepanel{
  background-color: rgb(221, 239, 243);
  padding: 8rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4rem; 
  

}

#service_banner{
  background-image: url("img/schedule_banner.png");
  width:10rem;
  height:auto;
}

input{
  margin: .5rem;
}

h1{
  font-family: 'Montserrat', sans-serif;

}

h2{
  font-family: 'Montserrat', sans-serif;
  color:navy;
}

#admin_login{
  border: solid gray 1px;
  border-radius: 1rem;
  width:50%;
 
}

